@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

li i {
  margin: 0 6px;
}

.body-container {
  max-width: 1200px;
  margin: 0 auto;
}

header .nav-logo img {
  width: 188px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-container ul.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex: 1;
  font-weight: 400;
}

.nav-container ul.nav-items li {
  cursor: pointer;
  padding: 10px 15px;
}

.nav-container ul.nav-items li:hover {
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: background-color 150ms linear;
}

.nav-container ul.nav-items li.sign-in {
  background-color: black;
  color: white;
  border-radius: 20px;
  transition: background-color 150ms linear;
}

.main-container {
  margin-top: 2rem;
  padding: 10px;
}

.main-container .action-menu {
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}

.main-container .action-menu li {
  flex: 1;
}

.main-container .action-menu button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.main-container .action-menu button {
  padding: 13px 16px;
  background-color: none;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  transition: background-color 100ms linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-section .search-section-container {
  margin-top: 1.5rem;
  position: relative;
}

.search-section .search-section-container img {
  width: 100%;
  position: relative;
}

.search-section .search-section-container input {
  padding: 10px 40px 10px 44px;
  width: 70%;
  outline: none;
  border: none;
  height: 60px;
  font-size: 1rem;
  border-radius: 40px;
}

.search-section .search-section-container i {
  transform: translateX(35px);
}

.search-section .search-section-container .search-input form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 41%;
  width: 100%;
}

#search-overlay {
  background-color: #fcc;
  height: 350px;
}

.banner-section {
  margin-top: 5rem;
}

.banner-section-container {
  height: 500px;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.1)
    ),
    url(./assets/caption.jpg) no-repeat center;
  display: flex;
  align-items: end;
  padding: 32px 24px;
}

.banner-section-container .banner-content {
  color: white;
}

.banner-section-container .banner-content h1 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.banner-section-container .banner-content p {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.banner-section-container .banner-content button {
  background-color: white;
  padding: 14px 24px;
  border-radius: 20px;
  border: none;
  margin-top: 24px;
  font-weight: 300;
  font-size: 0.9rem;
}

.banner-section-container .banner-content button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: background-color 150ms linear;
}
.glider {
  display: flex;
  gap: 1rem;
}

.container {
  width: 80%;
  margin-left: 10%;
  position: relative;
}

.hotel-categories-section {
  margin-top: 5rem;
}

.hotel-categories-section-heading h1,
.tour-packages-section-heading h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.hotel-categories-section-heading p,
.tour-packages-section-heading p {
  font-weight: 300;
  margin-bottom: 1rem;
}

.glider {
  position: relative;
}

.glider h1 {
  color: #fff;
  position: absolute;
  display: block;
  bottom: 7%;
  padding: 0px 18px;
  font-size: 2rem;
  height: max-content;
}

.glider-contain button {
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.glider-contain button.glider-next {
  transform: translateX(-10px) translateY(30px);
}

.glider-contain button.glider-prev {
  transform: translateX(10px) translateY(30px);
}

.category-image-container,
.image-container {
  margin: 0 7px;
}

.glider-contain button:hover {
  color: black;
  background-color: white;
}

.tour-packages-section-container {
  display: flex;
}

.tour-packages-section {
  margin-top: 5rem;
}

.tour-packages-section .ratings {
  display: flex;
  gap: 1px;
}

.tour-packages-section .ratings div {
  background-color: #00aa6c;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.tour-packages-section .pkg-ratings-and-reviews {
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0px 9px;
}

.tour-packages-section .pkg-ratings-and-reviews .reviews {
  font-weight: 300;
  font-size: 0.8rem;
}

.tour-packages-section .package-desc {
  padding: 7px;
  font-weight: 500;
}

.tour-packages-section .package-price {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 6px;
}

.tour-packages-section .package-image {
  position: relative;
}

.tour-packages-section .package-image {
  position: relative;
}

.tour-packages-section .package-image .wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 5%;
  left: 82%;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.tour-packages-section .package-image .wishlist-container i {
  font-size: 1.2rem;
}

.glider-contain button.package-next {
  transform: translateX(-10px) translateY(-10px);
}

.glider-contain button.package-prev {
  transform: translateX(10px) translateY(-10px);
}

.users-section {
  margin-top: 1rem;
  margin-bottom: 5%;
}

.users-section ul {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.users-section ul li {
  width: 20%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 50ms linear;
}

.users-section ul li a {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 100%;
}

.users-section ul li:hover {
  background-color: #f1f1f1;
}

.user-details {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

address {
  margin-top: 2rem;
}

.user-details-container {
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 400px;
  padding: 40px 10px;
  border-radius: 5px;
}

.basic-details > div {
  display: flex;
  justify-content: space-between;
}

.users-section h1 {
  text-align: center;
  padding: 8px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cecece;
  color: black;
  opacity: 0.3;
  text-align: center;
  padding: 10px;
}